
@media screen and (min-width: 76.25em) {
    .md-sidebar--primary { 
        width: 7rem !important;
    }
    
    .md-sidebar--secondary {
        width: 7rem !important;
    }
    .md-grid {
        max-width: 1400px !important;
    }
}

.md-nav__link,
.md-nav__title,
.md-nav__item {
    font-size: 0.6rem !important;
    line-height: 1.35;
}