
html {
    font-size: 20px;
}

@media screen and (min-width: 76.25em) {
    .md-grid {
        max-width: 1400px !important;
    }
}

.md-nav__link,
.md-nav__title,
.md-nav__item {
    font-size: 0.75rem !important;
    line-height: 1.35;
}
